In [2]:
import numpy as np
import pandas as pd

## Series / Seriler

In [4]:
# Pandas veri bilimininin Exceli olarak nitelendirilir

In [9]:
benim_dict = {"Atıl": 50, "Zeynep": 40, "Mehmet": 30}

In [11]:
pd.Series(benim_dict)

Atıl      50
Zeynep    40
Mehmet    30
dtype: int64

In [12]:
type(pd.Series(benim_dict))

pandas.core.series.Series

In [13]:
## Burada gördüğün gibi burada;
## pd.Series() ile bir dict'i pandas Serisine çevirdik

In [8]:
benim_yaşlarım = [50,40,30]
benim_isimlerim = ["Atıl", "Zeynep", "Mehmet"]

In [14]:
pd.Series(benim_yaşlarım)

0    50
1    40
2    30
dtype: int64

In [15]:
## gördüğün dipi bir list'ide pandas Series'e çevirebiliyoruz

In [17]:
pd.Series(benim_yaşlarım, benim_isimlerim)

Atıl      50
Zeynep    40
Mehmet    30
dtype: int64

In [18]:
## Bu şekilde de yapabiliriz fakat biraz karışıklığa sebep olabilir

In [19]:
pd.Series(data=benim_yaşlarım, index=benim_isimlerim)

Atıl      50
Zeynep    40
Mehmet    30
dtype: int64

In [20]:
# pd.Series(data=benim_yaşlarım, index=benim_isimlerim) bu şekilde kullanım daha organize ve daha 
# düzenli bir Series oluşturmuş olduk

# Dizileri Series'e Çevirme

In [21]:
numpy_dizisi = np.array([50,40,60])

In [22]:
numpy_dizisi

array([50, 40, 60])

In [23]:
pd.Series(numpy_dizisi)

0    50
1    40
2    60
dtype: int32

In [24]:
# Görsğün gibi numpy disissini pandas Series'ine çevirdik

In [26]:
pd.Series(data=numpy_dizisi, index=benim_isimlerim)

Atıl      50
Zeynep    40
Mehmet    60
dtype: int32

In [28]:
## Bu şekilde index kısmına isim değerleri vererekte series oluşturabiliyoruz

In [30]:
pd.Series(["Atil", "Atlas", "Osman"], [1,2,3])

1     Atil
2    Atlas
3    Osman
dtype: object

In [31]:
# Gordüğün gibi pandas seriess oldukça esnek istediğin gibi oluşturabiliyoraun

In [32]:
#### Let's make example

In [33]:
yarısma_sonucu1 = pd.Series([10,5,1], ["Atıl", "Atlas", "Osman"])

In [34]:
yarısma_sonucu1

Atıl     10
Atlas     5
Osman     1
dtype: int64

In [40]:
yarısma_sonucu2 = pd.Series([20,10,8], ["Atıl", "Atlas", "Osman"])

In [41]:
yarısma_sonucu2

Atıl     20
Atlas    10
Osman     8
dtype: int64

## Python Series Dört İşlem

In [43]:
son_sonuc = yarısma_sonucu1 + yarısma_sonucu2

In [44]:
son_sonuc

Atıl     30
Atlas    15
Osman     9
dtype: int64

In [45]:
# gördüğün gibi toplama işlemi yaptık python series arasında

In [51]:
farklı_series1 = pd.Series([20,30,40,50], ["a","b","c","d"])

In [52]:
farklı_series2 = pd.Series([10,5,3,1], ["a","c","f","g"])

In [53]:
farklı_series1

a    20
b    30
c    40
d    50
dtype: int64

In [54]:
farklı_series2

a    10
c     5
f     3
g     1
dtype: int64

In [55]:
farklı_series1 + farklı_series2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64

In [56]:
## index ifadeleri aynı ise toplama yapar eğer değilse Nan Nat a nummber ifadesi dörner