# Groupby

## `groupby()` Fonksiyonu

`groupby()` fonksiyonu, pandas kütüphanesinde veri kümelerini belirli bir kritere göre gruplandırmak için kullanılan çok güçlü bir araçtır. Genellikle büyük veri kümelerini analiz ederken, belirli kategorilere göre veri grupları üzerinde toplu işlemler (toplama, ortalama alma, sayma vb.) yapmak için kullanılır.

### `groupby()` Fonksiyonunun Temel Mantığı

1. **Gruplama (Splitting)**: Veriyi belirli bir kritere göre gruplar.
2. **Uygulama (Applying)**: Gruplara bir işlev uygular (örneğin, toplam alma, ortalama hesaplama vb.).
3. **Birleştirme (Combining)**: İşlemi tamamlar ve sonuçları bir araya getirir.

In [22]:
import pandas as pd
import numpy as np

In [23]:
calısan_bilgi_dict = {
    "Departman": ["Yazılım", "Yazılım", "Yazılım", "Pazarlama", "Pazarlama", "Hukuk", "Hukuk"],
    "Calısan Ismi": ["Ahmet", "Mehmet", "Atil", "Burak", "Zeynep", "Fatma", "Zeynep"],
    "Maas": [100, 200, 300, 400, 500,600,700]
}

In [24]:
calisan_bilgi_dataframe = pd.DataFrame(calısan_bilgi_dict)

In [25]:
calisan_bilgi_dataframe

   Departman Calısan Ismi  Maas
0    Yazılım        Ahmet   100
1    Yazılım       Mehmet   200
2    Yazılım         Atil   300
3  Pazarlama        Burak   400
4  Pazarlama       Zeynep   500
5      Hukuk        Fatma   600
6      Hukuk       Zeynep   700

In [26]:
# Biz daha önce multi index yapmıştık yani index'leri gruplandımıştık şimdi sutünları gruplandıracağız

In [33]:
calısan_bilgi_grupobjesi = calisan_bilgi_dataframe.groupby("Departman")

In [34]:
calısan_bilgi_grupobjesi.count()

           Calısan Ismi  Maas
Departman
Hukuk                 2     2
Pazarlama             2     2
Yazılım               3     3

In [35]:
## DataFrame' mi grupladıktan sonra count() ile hukuk,yazılım veya pazarlama alanında kaçtane veri olduğunu görebilirsin

In [38]:
calısan_bilgi_grupobjesi.mean(numeric_only=True)

            Maas
Departman
Hukuk      650.0
Pazarlama  450.0
Yazılım    200.0

In [39]:
## Maas ortamala mams bilgisini sana verir

In [40]:
calısan_bilgi_grupobjesi.min()

          Calısan Ismi  Maas
Departman
Hukuk            Fatma   600
Pazarlama        Burak   400
Yazılım          Ahmet   100

In [41]:
## Her gruptan en az maası alanı verir

In [42]:
calısan_bilgi_grupobjesi.max()

          Calısan Ismi  Maas
Departman
Hukuk           Zeynep   700
Pazarlama       Zeynep   500
Yazılım         Mehmet   300

In [43]:
## max maas bilgisini veriyor

In [44]:
calısan_bilgi_grupobjesi.describe()

           Maas
          count   mean         std    min    25%    50%    75%    max
Departman
Hukuk       2.0  650.0   70.710678  600.0  625.0  650.0  675.0  700.0
Pazarlama   2.0  450.0   70.710678  400.0  425.0  450.0  475.0  500.0
Yazılım     3.0  200.0  100.000000  100.0  150.0  200.0  250.0  300.0

In [45]:
# describe ilede tüm bilgileri elde edebiliyooruz.